<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI.ChecksSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GUI.Properties.ColorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUI.ChecksSettings>
            <setting name="Перевод_обозначений_в_старый_вид" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Перевод_обозначений_при_загрузке_из_Справочника_сокращения_нормалей" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XML_Сериализация_Справочников" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Разрешить_редактирование_загруженых_XML" serializeAs="String">
                <value>False</value>
            </setting>
        </GUI.ChecksSettings>
        <GUI.Properties.ColorSettings>
            <setting name="SelectedRowErrorColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedRowValidColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedRowNullableColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedFieldErrorColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedFieldValidColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedFieldNullableColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="ValidColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="NullableColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
        </GUI.Properties.ColorSettings>
        <GUI.Settings1>
            <setting name="SelectedRowErrorColor" serializeAs="String">
                <value>255, 153, 153</value>
            </setting>
            <setting name="SelectedRowValidColor" serializeAs="String">
                <value>102, 255, 102</value>
            </setting>
            <setting name="SelectedRowNullableColor" serializeAs="String">
                <value>255, 160, 57</value>
            </setting>
            <setting name="SelectedFieldErrorColor" serializeAs="String">
                <value>255, 102, 102</value>
            </setting>
            <setting name="SelectedFieldValidColor" serializeAs="String">
                <value>0, 197, 0</value>
            </setting>
            <setting name="SelectedFieldNullableColor" serializeAs="String">
                <value>255, 213, 79</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>255, 204, 204</value>
            </setting>
            <setting name="ValidColor" serializeAs="String">
                <value>204, 255, 204</value>
            </setting>
            <setting name="NullableColor" serializeAs="String">
                <value>255, 255, 204</value>
            </setting>
        </GUI.Settings1>
        <GUI.Properties.Settings>
            <setting name="ControlPanelColor" serializeAs="String">
                <value/>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
