<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          
          <wsDualHttpBinding>
            <binding name="DuplexBinding"/>
          </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53103/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="DuplexBinding" contract="ServiceReference1.IService1"
                name="" />
        </client>
    </system.serviceModel>
</configuration>